<app-page link="/goals-plan"
          header="Your Goals and Savings Plan"
          subheader="You are on track to meet your monthly goal!"
          board="true"
          button="Track with Spinwheel"
          icon="icon-chevron-left">
    <div class="board">
        <div>
            <img src="/assets/img/goals-plan/extra-payment.svg" alt="calendar-icon">
            <span>Extra Monthly Payment</span>
            <strong>$100</strong>
        </div>
        <div>
            <img src="/assets/img/goals-plan/cashback-reward.svg" alt="cashback-icon">
            <span>Cashback Rewards</span>
            <strong>4,400</strong>
        </div>
    </div>
    <div class="info">
        <div>
            <span>Family Champions</span>
            <strong>3</strong>
        </div>
        <div>
            <span>Round Ups</span>
            <div class="checkmark">
                <i class="icon-check-fat"></i>
            </div>
        </div>
        <div>
            <span>Boost Payment</span>
            <div class="cross">
                <i class="icon-cross-fat"></i>
            </div>
        </div>
    </div>
    <a class="card">
        <span class="icon">
            <i class="icon-pencil"></i>
        </span>
        <span class="text">Edit Goals</span>
    </a>
    <a class="card">
        <span class="icon">
            <i class="icon-email"></i>
        </span>
        <span class="text">Edit Goals</span>
    </a>
    <a class="card">
        <span class="icon">
            <i class="icon-users"></i>
        </span>
        <span class="text">Invite champions</span>
    </a>
</app-page>