<label [for]="name">{{label}}</label>
<div class="form-group" [class.group-error]="field.errors">
    <i [class]="icon" *ngIf="icon"></i>
    <input [type]="type"
           [id]="name"
           [name]="name"
           #field='ngModel'
           [minlength]="min"
           [(ngModel)]="value"
           [placeholder]="label"
           [email]="name === 'email' ? true : false">
</div>

<div class="errors" *ngIf="field.touched">
    <small *ngIf="field.errors?.minlength">Field length is less than 3 characters!</small>
    <small *ngIf="field.errors?.required">Field is a required!</small>
    <small *ngIf="field.errors?.email">This is not a valid Email!!!</small>
</div>
