<div class="page">
    <div class="page__container">
        <div class="content">
            <div class="header">
                <div *ngIf="board">
                    <img src="/assets/icons/target.svg" alt="target-board" *appMedia="'large'">
                </div>
                <h1>
                    <i class="{{icon}}" *appMedia="'small'" (click)="navService.Back()"></i>
                    {{header}}
                </h1>
                <h2>{{subheader}}</h2>
            </div>
            <div class="info">
                <ng-content></ng-content>
                <div class="continue" *appMedia="'large'">
                    <app-btn-secondary [link]="link">{{button}}</app-btn-secondary>
                </div>
            </div>
        </div>
    </div>
    <div class="page__continue" *appMedia="'small'">
        <app-btn-secondary [link]="link">{{button}}</app-btn-secondary>
    </div>
</div>