<div class="page">
    <div class="page__container">
        <div class="page__header" *appMedia="'small'">
            <h1>
                <button (click)="navService.Back()">
                    <i class="icon-arrow-right"></i>
                </button>
                Select your loan servicer
            </h1>
        </div>

        <div class="search">
            <h1 *appMedia="'large'">Select your loan servicer</h1>
            <app-form>
                <app-search></app-search>
            </app-form>
        </div>

        <div class="slide" #slide>
            <div class="container" [ngStyle]="{'min-width': width + 'px', 'margin-left': - margin + 'px'}">
                <a class="card"
                   routerLink="/loan-info"
                   [class.regular]="cards.length <= 6"
                   *ngFor="let card of cards; let i = index"
                   [style.margin-right.px]="(count - 1 === i || cards.length - 1 === i) && cards.length > 6 ? 0 : 24">
                    <img src="{{'/assets/img/services/' + card.image}}" alt="{{card.name}}">
                </a>
            </div>
        </div>

        <div *ngIf="cards.length > 6">
            <div class="slider" *appMedia="'large'">
                <p-slider (onChange)="handleChange($event.value)"></p-slider>
            </div>
        </div>
    </div>
</div>