:host {
    display: block;
    margin-top: 16px;
    padding: 14px 16px;
    border-radius: 8px;
    background: #FFFFFF;
    border: 1px solid #EFEFF6;
    box-shadow: 0px 2px 4px rgba(188, 189, 200, 0.16), 0px 8px 16px rgba(188, 189, 200, 0.12);
}

.container {
    display: flex;
    justify-content: space-between;
    h2 {
        font-size: 14px;
        line-height: 17px;
        margin-bottom: 14px;
        font-family: "Synthese", sans-serif;
    }
}

.chart {
    width: 78px;
    text {
        font-weight: bold;
        font-size: 70px;
        align-items: center;
        font-family: "Synthese", sans-serif;
    }
}

.info {
    width: calc(100% - 90px);
}

.data {
    display: flex;
    justify-content: space-between;
}

.block {
    font-size: 12px;
    line-height: 22px;
    letter-spacing: -0.015em;
    strong {
        font-weight: bold;
        display: block;
    }
}

@media only screen and (max-width: 375px) {
    .data {
        display: block;
    }
}