<div class="page">
    <div class="page__container">
        <div class="container">
            <div class="header">
                <img src="/assets/icons/congrats.svg" alt="traveler-icon">
                <div class="info">
                    <h1>Congrats!</h1>
                    <p>You are on track to meet your monthly goal!</p>
                </div>
                <div class="charts" *appMedia="'large'">
                    <div>
                        <app-donut-rounded [total]="8000" [saved]="4658" [days]="true"></app-donut-rounded>
                    </div>
                    <div>
                        <app-donut-rounded [total]="78674" [saved]="18053" [days]="false"></app-donut-rounded>
                    </div>
                </div>
            </div>
            <div class="charts" *appMedia="'small'">
                <div>
                    <app-donut-rounded [total]="8000" [saved]="4658" [days]="true" color="#FEF5DA"></app-donut-rounded>
                </div>
                <div>
                    <app-donut-rounded [total]="78674" [saved]="18053" [days]="false" color="#FEF5DA"></app-donut-rounded>
                </div>
            </div>
            <div class="footer">
                <div class="icon">
                    <img src="/assets/icons/percentage.svg" alt="percentage-sign">
                </div>
                <div class="info">
                    <h2>Save 3 years off loan</h2>
                    <p>We have analyzed your loan and you can save 3 more years by refinancing your currnet loan.</p>
                </div>
                <a href="#">Get Pre Aproved</a>
            </div>
        </div>
    </div>
</div>