<div class="page">
    <div class="page__container">
        <div class="page__header" *appMedia="'small'">
            <h1>
                <button (click)="navService.Back()">
                    <i class="icon-arrow-right"></i>
                </button>
                We ready to GO!
            </h1>
        </div>
        <div class="page__info">
            <div class="image">
                <img src="/assets/icons/firstmark-services.svg" alt="firstmark-logo" *appMedia="'small'">
            </div>
            <div class="headline">
                <span>Step 1 of 3</span>
                <h2>Enter your loan information</h2>
            </div>
            <div class="form">
                <app-form>
                    <img src="/assets/icons/firstmark-services.svg" alt="firstmark-logo" *appMedia="'large'">
                    <app-username></app-username>
                    <app-password></app-password>
                    <app-personal-code></app-personal-code>
                    <app-btn-primary icon="icon-arrow-left" link="/loan-info/account" *appMedia="'large'">
                        Continue
                    </app-btn-primary>
                </app-form>
            </div>
        </div>
    </div>
    <div class="continue" *appMedia="'small'">
        <app-btn-primary icon="icon-arrow-left" link="/loan-info/account">Continue</app-btn-primary>
    </div>
</div>